.git
.gitignore
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
node_modules
server/node_modules
mangomagic-next/node_modules
mangomagic-next/.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docker_validation_tag
README.md.bak